services:
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=online_dukan
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=adminpass
    healthcheck: 
      test: ["CMD-SHELL", "pg_isready -U admin -d online_dukan"]
      interval: 5s
      timeout: 5s
      retries: 5

  web:
    build: .
    
    command: >
      sh -c "python manage.py migrate &&
             python manage.py collectstatic --noinput &&
             gunicorn config.wsgi:application --bind 0.0.0.0:8000"
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy

volumes:
  postgres_data: